---
layout: home
search_exclude: true
image: images/logo.webp
---

# The Merge: A Schelling Point for Climate Action

Ethereum's upcoming Merge to Proof-of-Stake (PoS) will [drastically (99%+) reduce the environmental impact]() of the premier smart contract platform and [2nd largest blockchain by market cap]().

In line with the [Greenhouse Gas (GHG) Protocol](), the Ethereum community has rightly prioritized the move to PoS to first **_reduce_** the environmental impact associated with the operations of the network.

However, reducing emissions is just the first (albeit most urgent) step in the GHG Protocol: once the Merge is complete, there will still be residual emissions associated with operating validators and off-chain infrastructure like Etherscan, as well as a massive "debt" of historical emissions already up in the atmosphere contributing to the climate crisis.

Merge 4 Climate is a campaign organized by leaders in the emerging Regenerative Finance (ReFi) space to raise awareness among the wider Ethereum community about the importance of estimating and compensating for the historical emissions of Ethereum's Proof-of-Work (PoW) era, as well as offsetting residual emissions associated with PoS and key off-chain infrastructure.

Ethereum has the opportunity to flip the script that says, "blockchain is bad for the environment" - by owning up to the historical emissions of PoW and deploying capital to both retire existing (tokenized) carbon credits and fund future sustainability initiatives, we can demonstrate the power of blockchain to catalyze positive impact.

# Need for Accurate Emissions Estimates

According to [Kyle McDonald's bottom-up analysis of Ethereum's energy consumption and the corresponding carbon emissions](https://kylemcdonald.github.io/ethereum-emissions/), the Ethereum blockchain is responsible for approximately 18 million tonnes of carbon dioxide equivalent emissions.

{% include embed.html url="https://kylemcdonald.github.io/ethereum-emissions/" title="Kyle McDonald's Bottom-Up Ethereum Emissions Estimate" %}

Other estimates place the total closer to 40 million tonnes, but more work has to be done comparing the existing analyses and potentially contracting a consulting firm to arrive at a final, confident emissions figure for Ethereum PoW from Genesis to Merge.

# Attributing Emissions and Spurring Action

How can we inspire the organizations and communities that are responsible for the historical emissions to contribute to this initiative?

{% include embed.html url="https://dune.com/embeds/153642/303939/9ce7f472-f264-432b-adb1-45478fbb04e9" title="Addresses on ETH L1 Recently Consuming the Greatest Share of Network Activity" %}

On one hand, it's not necessarily the smart contract developers themselves responsible for the emissions - the users submitting transactions that utilize that contract are generating the demand for blockspace.

However, many of the leading protocols, as well as off-chain companies and organizations, have substantial amounts of capital that could be leveraged toward this initiative if it's framed and structured properly.

# Start Where You Are

There is a clear need to create a unified portal for tracking progress on this initiative, as well as a standard operating procedure for entities who wish to contribute to the offsetting of Ethereum's historical emissions.

But we can't wait for a perfect solution - Merge4Climate is the first step in a long journey toward making Ethereum a leader in sustainable blockchain technology.

# Take Action!

## Sign Up

Link to statement (Mirror NFT?)

## Spread the Word

Tweet template encouraging others to sign the statement

## Retire Carbon

Given the large scale of all available emissions estimates (on the order of 10s of millions of tonnes) it seems safe to say this will be a years-long endeavor - but we don't want to wait years to get the ball rolling and allow our community to demonstrate our commitment.

As a stopgap solution to allow contributions to this important initiative starting as soon as possible, yet in a way that we can later track contributions and display them in a visual form:

1. Follow [this link]() to the KlimaDAO retirement aggregator.
1. The form will be pre-filled with several details.
  1. DO NOT CHANGE THE BENEFICIARY!
  1. Ensure you leave the "Merge4Climate" text in the retirement message.
  1. Feel free to add any other details to the retirement message about why you want to contribute to offsetting Ethereum's historical emissions.
1. Connect your wallet and select the amount of carbon you want to retire, your input token, and the type of carbon you want to retire.
    1. You can specify a specific project to retire if you'd like by following this guide:
1. Confirm Approve transaction in your wallet
1. Confirm the Send transaction in your wallet

This will result in an immutable, shareable retirement record on the Polygon blockchain and attribute the benefit of your retirement to this initiative to offset Ethereum's historical PoW emissions.

Down the line we will have a visual "progress bar" showing the individual contributions made by each address, as well as integrating forward funding commitments and off-chain retirements.
