---
layout: home
search_exclude: true
image: images/logo.webp
---

# The Merge: A Schelling Point for Climate Action

Ethereum's upcoming Merge to Proof-of-Stake (PoS) will [drastically (~99.95%) reduce the environmental impact](https://blog.ethereum.org/2021/05/18/country-power-no-more) of the premier smart contract platform and [second largest blockchain by market cap](https://coinmarketcap.com/currencies/ethereum/).

In line with the mitigation hierarchy recommended in the [Science-Based Targets Standard](https://sciencebasedtargets.org/blog/the-sbti-net-zero-standard-a-beacon-of-light), the Ethereum community has rightly prioritized the move to PoS to first **_reduce_** the environmental impact associated with the operations of the network.

![](https://sustainable.columbia.edu/sites/default/files/styles/cu_crop/public/content/carbon%20hierarchy_0.png?itok=egh9TFUQ)

However, reducing emissions is just the first (albeit most urgent) step: once the Merge is complete, there will still be residual emissions associated with operating validators and off-chain infrastructure like Etherscan, as well as a massive "debt" of historical emissions already up in the atmosphere contributing to the climate crisis.

Ethereum has an opportunity to flip the script that says, "blockchain is bad for the environment," by taking action to mitigate the historical emissions of PoW. Leveraging existing market-based mechanisms for mitigating environmental impact, such as the Voluntary Carbon Market and Renewable Energy Certificates, the Ethereum community should adopt an all-of-the-above approach, as demanded by the urgency of the climate crisis.

By coming together as a broad coalition of Ethereans, we aim to direct capital toward a diversified climate-positive strategy,  demonstrating the power of public blockchains to catalyze positive impact:
* Retire existing carbon credits, which supports sustainability projects that have verifiably avoided emissions with technology (e.g. energy efficiency improvemnets) or natural systems (e.g. protecting existing forests)
* Fund future carbon project development.
* Consider the use of Renewable Energy Certificates (RECs) to compensate for recent energy usage, which support the profitability of renewable energy installations.

# Need for Accurate Emissions Estimates

According to [Kyle McDonald's bottom-up analysis of Ethereum's energy consumption and the corresponding carbon emissions](https://kylemcdonald.github.io/ethereum-emissions/), the Ethereum blockchain is responsible for approximately 18 million tonnes of carbon dioxide equivalent emissions.

{% include embed.html url="https://kylemcdonald.github.io/ethereum-emissions/" title="Kyle McDonald's Bottom-Up Ethereum Emissions Estimate" height="800" width="880" scrolling="no" %}

Other estimates using more generic methodologies place the total closer to [40 million tonnes](https://digiconomist.net/ethereum-energy-consumption/) - more work has to be done comparing the existing analyses and potentially contracting a consulting firm to arrive at a final, confident emissions figure for Ethereum PoW from Genesis to Merge.

However, just based on the existing estimates, the order of magnitude is 10-100 million tonnes, which gives us plenty of room to get the ball rolling while a high-confidence, precise emissions estimate is established.

# Attributing Emissions and Spurring Action

How can we inspire the organizations and communities that are responsible for the historical emissions to contribute to this initiative?

{% include embed.html url="https://dune.com/embeds/1252175/2145486/cd07b2cb-03e3-41fb-9781-8d48a744de05" title="Addresses on ETH L1 Recently Consuming the Greatest Share of Network Activity" height="400" width="880" scrolling="yes" %}

On one hand, it's not necessarily the smart contract developers themselves responsible for the emissions - the users submitting transactions that utilize that contract are generating the demand for blockspace. On the other hand, miners have been the primary beneficiaries of demand for blockspace, so there is also a role for miners and mining pools to play in compensating for historical emissions.

Many of the leading protocols, as well as off-chain companies and organizations, have substantial amounts of capital that could be leveraged toward this initiative, if it's framed and structured properly.

# Start Where You Are

There is a clear need to create a unified portal for tracking progress on this initiative, as well as a standard operating procedure for entities who wish to contribute to the offsetting of Ethereum's historical emissions.

This initiative is intended to be a "Big Tent" where we integrate carbon credits and other environmental assets from a variety of sources into a comprehensive climate-positive strategy for Ethereum, supporting multiple credit types from a variety of registries and sourced from multiple providers.

But we can't wait for a perfect solution - Merge4Climate is the first step in a long journey toward making Ethereum a leader in sustainable blockchain technology.

# Take Action!

## Sign Up

Join the [Merge4Climate Discord](https://discord.gg/ZWY2Mxb5aM) to join the conversation and help develop Ethereum's climate-positive strategy.

TODO: Link to statement (Mirror NFT?)

## Spread the Word

TODO: Tweet template encouraging others to sign the statement and join up

## Retire Carbon

Given the large scale of all available emissions estimates (on the order of 10s of millions of tonnes) it seems safe to say this will be a years-long endeavor - but we don't want to wait years to get the ball rolling and allow our community to demonstrate our commitment.

As a stopgap solution to allow contributions to this important initiative starting as soon as possible, yet in a way that we can later track contributions and display them in a visual form:

1. Follow [this link]() to the KlimaDAO retirement aggregator.
1. The form will be pre-filled with several details.
  1. DO NOT CHANGE THE BENEFICIARY!
  1. Ensure you leave the "Merge4Climate" text in the retirement message.
  1. Feel free to add any other details to the retirement message about why you want to contribute to offsetting Ethereum's historical emissions.
1. Connect your wallet and select the amount of carbon you want to retire, your input token, and the type of carbon you want to retire.
    1. You can specify a specific project to retire if you'd like by following this guide:
1. Confirm Approve transaction in your wallet
1. Confirm the Send transaction in your wallet

This will result in an immutable, shareable retirement record on the Polygon blockchain and attribute the benefit of your retirement to this initiative to offset Ethereum's historical PoW emissions.

Down the line we will have a visual "progress bar" showing the individual contributions made by each address, integrating a variety of on-chain retirement options, plus incorporating forward funding commitments preallocated for this initiative, as well as off-chain retirements.


# Supporting Organizations

| [![BICOWG logo](https://bicowg.org/wp-content/uploads/2021/12/bicowg_logo.jpg)](https://bicowg.org) | [![KlimaDAO logo](images/KlimaWordmark.png)](https://klimadao.finance) | [![Toucan logo](https://bicowg.org/wp-content/uploads/2021/12/Toucan-768x236.jpg)](https://toucan.earth) | [![Gitcoin logo](https://bicowg.org/wp-content/uploads/2021/12/Gitcoin-768x247.png)](https://gitcoin.co) |
| [![ZeroLabs logo](images/ZeroLabs_logo.png)](https://zerolabs.green) | [![Helios](images/helios-wordmark.png)](helios.eco) | [![]()]() | [![]()]() |
